<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Mental Health Support Chatbot by maniraj and manoj</title>
</head>
<body>
    <div class="chatBot">
        <header>
            <h2>Mental Health Chatbot</h2>
            <span id="cross" onclick="cancel()">X</span>
        </header>
        <ul class="chatbox"></ul>
        <div class="chat-input">
            <textarea placeholder="Type your messge here..."></textarea>
            <button id="sendBTN">Send</button>
        </div>
    </div>
    <script src="static/script.js"></script>
</body>
</html>